params {

    outdir = "$projectDir/test_res"
    input = "$projectDir/data/test_data"

    amplicon_length = 412
    fwd_primer_length = 20
    rev_primer_length = 20

    amplicon_type = '16s'

    figaro_docker = 'quay.io/biocontainers/figaro:1.1.2--hdfd78af_0'
    figaro_singularity = 'https://depot.galaxyproject.org/singularity/figaro%3A1.1.2--hdfd78af_0'

    dada2_docker = 'quay.io/biocontainers/bioconductor-dada2:1.30.0--r43hf17093f_0'
    dada2_singularity = 'https://depot.galaxyproject.org/singularity/bioconductor-dada2%3A1.30.0--r43hf17093f_0'

}